<!DOCTYPE html>
<html>
<head>
    <title>Presto Textbooks</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/site.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
 
    <header class="container">
        <div class="row">
            <h1 class="col-sm-4">Presto Textbooks</h1>
            <div class="col-sm-1 pull-right">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                        <li><a href="/">Home</a></li>
                        <li><a href="/account/Doe">Your Account</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
 
    <section class="jumbotron">
        <div class="container">
            <div class="row text-center">
                <h2>Buy and Sell Textbooks</h2>
                <h3>Student-to-Student Transactions</h3>
                            
            </div>
            <div class="col-sm-offset-5 col-sm-2 text-center">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select your school:</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/uhart">University of Hartford</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
 
    <div class="container">
        <div class="col-sm-12 text-center">
                <img src="../images/how_to.jpg" alt="How to use PrestoTextbooks.">
        </div>
    </div>
 
  <footer class="container">
    <div class="row">
      <p class="col-sm-4">
        &copy; 2018 Presto Textbooks
      </p>
     
    </div>
  </footer>
 
</body>
</html>
